
{%extends 'index.html'%}




{%block content%}
<div class =  "container " style = "margin-top:  10px; padding: 200px;">
<form method = "POST"  class="form">
    {{form.csrf_token}}
    {{form.name.label(class= 'form-label')}}
    {{form.name(class= 'form-control form-input')}}

        {{form.email.label(class= 'form-label')}}
    {{form.email(class= 'form-control form-input')}}

        {{form.password.label(class= 'form-label')}}
    {{form.password(class= 'form-control form-input')}}

        {{form.birthday.label(class= 'form-label')}}
    {{form.birthday(class= 'form-control form-input')}}

        {{form.nationality.label(class= 'form-label')}}
    {{form.nationality(class= 'form-control form-select')}}


        {{form.message.label(class= 'form-label')}}
    {{form.message(class= 'form-control form-input')}}
    <div class="row" >
        <div class="col">
        {{form.accept_terms.label(class= 'form-check-label')}}
        {{form.accept_terms(class= ' form-check-input')}}
            <br>
        {{form.submit(class= 'btn btn-success')}}
        </div>
    </div>
</form>
</div>
{%endblock%}


